.advantages {
  padding: 55px 0;
  background-color: $dark;
  border-radius: 5px;

  &__inners {
    display: flex;
    justify-content: space-around;
  }

  &__inner {
    position: relative;
    max-width: 203px;
    padding-right: 20px;

    &:after {
      position: absolute;
      content: '';
      height: 111px;
      width: 1px;
      right: -20px;
      top: 50%;
      transform: translateY(-50%);
      background-color: rgba(255, 255, 255, 0.08);
    }

    &:last-child {
      padding-right: 0;

      &:after {
        display: none;
      }
    }

    &-img {
      display: flex;
      margin-bottom: 15px;
      height: 52px;
      width: 52px;
      object-fit: cover;
    }

    &-title {
      max-width: 165px;
      font-family: 'Proxima-Nova-Bold';
      font-weight: bold;
      font-size: 15px;
      line-height: 20px;
    }

    &-text {
      max-width: 2300px;
      margin-top: 12px;
      font-size: 12px;
      line-height: 18px;
      letter-spacing: -0.01em;
      opacity: 0.7;
    }
  }
}