.way-delievery {
  padding: 100px 0;
  background-image: url('../img/way/way-bg.png');
  background-repeat: no-repeat;
  background-size: 35%;
  background-position: right center;

  &__title {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

  &__heading {
    display: flex;
    justify-content: center;
    margin-bottom: 70px;
  }

  &__subtitle {
    max-width: 346px;
    margin-right: 20px;
  }

  &__span {
    position: relative;
    // padding-left: 32px;
    font-size: 16px;
    text-align: center;
    line-height: 48px;
    max-width: 232px;
    width: 100%;
    height: 48px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 4px;

    &::before {
      position: absolute;
      content: '';
      left: 12px;
      top: 50%;
      transform: translateY(-45%);
      width: 20px;
      height: 20px;
      background-image: url('../img/way/heart.svg');
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
    }
  }

  &__wrapper {
    display: flex;
    align-items: center;
    max-width: 80%;
    flex-wrap: wrap;
  }

  &__item {
    padding: 36px 30px 0 25px;
    margin-right: 30px;
    margin-bottom: 30px;
    width: 270px;
    height: 465px;
    background-color: #332F41;
    border-radius: 5px;

    &-span {
      margin-bottom: 30px;
      font-size: 16px;
      line-height: 27px;
      opacity: 0.2;
    }

    &-img {
      margin-bottom: 17px;
      width: 50px;
      height: 50px;

      img {
        height: 50px;
        width: 50px;
        object-fit: cover;
      }
    }

    &-title {
      font-size: 18px;
      line-height: 27px;
      font-family: 'Proxima-Nova-Bold';
      font-weight: 700;
      margin-bottom: 15px;

      &--size {
        max-width: 160px;
      }
    }

    &-text {
      font-size: 14px;
      line-height: 23px;
      color: rgba(255, 255, 255, 0.7);

      &--size {
        max-width: 200px;
      }
    }
  }
}